:root {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.btn-geolocation {
    cursor: pointer;
    border-radius: 5px;
    background: #F7B217;
    border: 2px solid #666;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 15px;
    transition: all .3s;
}

.btn-geolocation.-loading {
    opacity: 0.5;
    pointer-events: none;
}

.btn-geolocation.-hide {
    display: none;
}
