<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item lines="full" *ngFor="let legend of legends">
            <ion-label #label>{{ legend }}</ion-label>
            <ion-icon name="close" *ngIf="editable"></ion-icon>
            <ion-button
              (click)="editName($event, label)"
              color="secondary"
              outline>EDIT</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
