<ion-header *ngIf="headerList">
  <ion-toolbar color="tertiary">
    <ion-title>Legends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item lines="full" *ngFor="let legend of legends">
            <ion-label>
              {{ legend }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
