<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">

    </ion-buttons>
    <ion-searchbar
      color="danger"
      mode="ios" 
      placeholder="Search for a legend"
      animated
      (keyup)="onSearch($event)"
      (ionClear)="searchInput = '';"
      [(ngModel)]="searchInput">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Showing <b>{{results.length}}</b> Results for: <b>{{searchInput}}</b></p><br />

  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-item lines="full" *ngFor="let result of results">
            <ion-label>
              {{ result }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
